@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddeefc;
  color: #1a3b5d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(35, 100, 210, 0.1);
  padding: 20px;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10;
  position: relative;
}

h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
  color: #2364d2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ced6e0;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #1a3b5d;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type="button"] {
    padding: 12px;
    border: none;
    border-radius: 6px;
  /* background-color: #2364d2; */
    background: rgb(54,60,74);
    background: linear-gradient(90deg, rgba(54,60,74,1) 0%, rgba(54,60,74,1) 100%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input[type="button"]:hover {
  background-color: #1a3b5d;
  transform: scale(1.02);
}

input[type="button"]:active {
  background-color: #2364d2;
  transform: scale(0.98);
}

.result {
  margin-top: 20px;
}

.recipe {
  padding: 12px;
  border: 1px solid #ced6e0;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(35, 100, 210, 0.1);
}

.recipe b {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #2364d2;
}

.recipe span {
  display: block;
  font-size: 16px;
  color: #1a3b5d;
}

@media (max-width: 400px) {
  .container {
    padding: 16px;
    width: 90%;
  }
}

* {
  box-sizing: border-box;
}

.image-container {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  #leftContainer {
    left: 0;
    padding: 10px;
    background-color: #1e2531;
  }
  
  #rightContainer {
    right: 0;
    padding: 10px;
    background-color: #1e2531;
  }
  
  .image-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e2531;
    border-radius: 8px;
    margin: 5px;
    box-sizing: border-box;
    background-color: #1b2431;
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.34);
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.34);
  }
  
  .image-wrapper img {
    width: auto;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .image-wrapper img:hover {
    transform: scale(1.1);
  }
  
.image-container img:hover {
  transform: scale(1.05);
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #1b2431 #1e2531;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #1a2231;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1a2c31;
    border-radius: 0px;
    border: 0px none #000000;
  }