@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #171717;
    color: #1a3b5d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .container {
    background-color: #0f0f0f;
    padding: 20px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: visible;
    z-index: 10;
    position: relative;
    transition: height 0.3s ease;
  }
  
  h1 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin-left: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }
  
  input[type="text"] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:rgba(5, 5, 5, .6);
    color: white;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #171717;
    font-weight: 500;
  }
  
  input[type="button"] {
    padding: 12px;
    border: none;
    background: rgba(5, 5, 5, .6);
    color: grey;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"]:focus {
    border-color: grey;
    outline: none;
  }
   
  input[type="button"]:hover {
    background-color: #fff;
    color: #000;
  }
  
  input[type="button"]:active {
    outline: 0;
    border-color: grey;
    border: solid 1px #fff;
  }
  
  .result {
    margin-top: 12px;
  }
  .result > p {
    color: white;
    font-size: 14px;
  }
  
  .recipe {
    padding: 12px 20px;
    margin-bottom: 12px;
    background-color: rgba(5, 5, 5, .6);
    box-shadow: 0px 0px 0px 1px #171717, 0px 0px 35px 0px #171717;
  }
  
  .recipe b {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    color: grey;
  }
  
  .recipe span {
    display: block;
    font-size: 16px;
    color: white;
  }
  
  #suggestionsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 55px;
    display: none;
    background-color: var(--gray-trans);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#suggestionsList.show {
    display: block;
}

#suggestionsList li {
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

#suggestionsList li:hover {
    background-color: #f1f1f1;
    color: #000;
}


#suggestionsList::-webkit-scrollbar {
    width: 0;
}

#suggestionsList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
  @media (max-width: 400px) {
    .container {
      padding: 16px;
      font-size: 16px;
      width: 90%;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  #leftContainer {
    left: 0;
    padding: 10px;
    background-color: #0f0f0f;
  }
  
  #rightContainer {
    right: 0;
    padding: 10px;
    background-color: #0f0f0f;
  }
  
  .image-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-sizing: border-box;
    background-color: #0f0f0f;
    box-shadow: 
        0px 0px 0px 1px #171717, 
        0px 0px 35px 0px #171717;
  }
  
  .image-wrapper img {
    width: auto;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .image-wrapper img:hover {
    transform: scale(1.1);
  }
  
  .image-container img:hover {
    transform: scale(1.05);
  }
  
  * {
    scrollbar-width: auto;
    scrollbar-color: #171717 #0f0f0f;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #171717;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #171717;
    border-radius: 0px;
    border: 0px none #000000;
  }

  input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(5, 5, 5, .6);
    cursor: pointer;
    outline: none;
    box-shadow: 
        0px 0px 0px 1px #171717, 
        0px 0px 35px 0px #171717;
}

input[type="checkbox"]:checked {
    background-color: #222;
}

input[type="checkbox"]:checked::before {
    content: "✓";
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

label#excludeLabel {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}